/*
/* index.css
*/

@charset "utf-8";

/* css reset */
html {
  -webkit-user-drag: none;
  cursor: default;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button,
img {
  -webkit-user-drag: none;
}

.draggable {
  -webkit-app-region: drag;
}

.selectable {
  cursor: auto;
}

.operation_area {
  margin: 20px 0;
  font-size: 0.8rem;
}

.operation_area div {
  padding-left: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

.operation_area div input {
  height: 40px;
  border: 1px solid #CCC;
}

.operation_area div input::placeholder {
  color: #CCC;
}

/* css */
body {
  text-align: center;
  width: 95%;
  margin: auto;
}

h1 {
  font-size: 1.7rem;
  color: #fff;
  background-color: #00AAEE
}

h3 {
  color: #00AAEE;
  font-weight: bolder;
}

p {
  font-size: 0.9rem;
  font-weight: bold;
}

footer {
  font-size: 0.8rem;
}

::placeholder {
  color: #77CCED;
  font-size: 1.7rem;
  text-align: right;
}

.wide {
  width: 800px;
}

.middle {
  width: 500px;
}

.default {
  width: 300px;
}

.narrow {
  width: 100px;
}

.wrapper {
  margin-top: 30px;
}

.operation_area {
  padding: 20px 0;
}

.operation_area div {
  margin: 10px 0;
}

.button-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#csvfilepath {
  font-size: 0.7rem;
}

.progressarea {
  font-size: 0.8rem;
}

/* blue buttons */
.button-g {
  width: auto;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem-1px) calc(1.5rem-1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-g:hover,
.button-g:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-g:hover {
  transform: translateY(-1px);
}

.button-g:active {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button-wide {
  width: 250px;
}

.button-standard {
  width: 120px;
}

.button-narrow {
  width: 80px;
}

/* red buttons */
.button-8 {
  background-color: #FFB2B2;
}

.button-8:active {
  background-color: #FFA5A5;
}

/* general buttons */
.button-6 {
  background-color: #FFFFFF;
}

.button-6:active {
  background-color: #F0F0F1;
}

/* general buttons */
.button-4 {
  background-color: #CCE6FF;
}

.button-4:active {
  background-color: #B3D9FF;
}

/* general buttons */
.button-2 {
  background-color: #77CCED;
}

.button-2:active {
  background-color: #77CCED;
}